
 @font-face {
     font-family: 'PatuaOne regular';
     src: url('../../../public/assets/fonts/PatuaOne-Regular.ttf');
 }

 @font-face {
     font-family: 'AlfaOne regular';
     src: url('../../../public/assets/fonts/AlfaSlabOne-Regular.ttf');
 }

 @font-face {
     font-family: 'Poppins bold';
     src: url('../../../public/assets/fonts/Poppins-Bold.ttf');
 }
 
 *{
    margin: 0;
    padding: 0;
    list-style: 0;
}


  

.parte-1{
    background-image: url('../../../public/assets/images/fundoamarelo.png');
    width: 100%;
    height: 620px;
    background-repeat: none;

    
}
    


.menu-home{
    display: flex;
    height: 115px;

    
}

.menu-text{
   display: flex;
   list-style: none;
   padding: 30px 0px 0px 60px;
   font-family: 'PatuaOne regular';
   font-size: 20px; 
   margin-left: 30px;
  
        
}

.lin-1:hover{
    transform: scale(1.4);
    border-radius: 10px;
    color:#D02828;
    
}

.menu-text li{
    margin-left: 30px;
 
}

.lin-1{
    text-decoration: none;
    color: #000000;
}


.logo1-home{
   padding: 0px 0px 0px 60px;
   
}

.numero{
    font-family: 'PatuaOne regular';
    display: flex;
    flex-direction: column;
}

.conosco{
    font-size: 15px;
    padding: 25px 0px 0px 310px;
    line-height: 25px;


    display: flex;
    flex-direction: column;
    align-items:baseline;
    

}

.nume{
    font-size: 21px;
    padding: 0px 0px 0px 320px;

}

.icons-menu{
    display: flex;
    padding: 32px 0px 0px 45px;

    cursor: pointer;

}

.pizza{
  
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90em;
        height: 50vh;
        padding-left: 3em;
        
       
}

.parte-pizza{
    display: flex;
            

   
}

.text-home{
    font-size: 80px;
    font-family: 'AlfaOne regular';
   
    color: #FFFFFF;

    line-height: 1.2em;
    letter-spacing: 3px;

      
}


.texto-2 p{
    font-family: 'PatuaOne regular';
    width: 25em;
    padding: 0px 0px 0px 120px;

}

.parte-2{
   background-image: url('../../../public/assets/images/fundobranco.png');
    height: 233px;
    margin-top: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
     
    justify-content: space-evenly;
}

.text-3{
  
    font-size: 36px;
   font-family: 'AlfaOne regular';
    padding: 0px 0px 0px 120px;

}

.text-4{
    font-family: 'Poppins bold';
    font-size: 17px;
    padding: 7px 0px 0px 160px;
}

.text-5{
   font-family: 'PatuaOne regular';
    color: #E80D0D;
    font-size: 20px;
    padding: 0px 0px 0px 230px;

}

.parte-4{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 3em;
}

.titulo-4{
    font-family: 'AlfaOne regular';
    font-size: 32px;
    color: #FF1F00;

    margin-bottom: 15px;
}

.checks-textos{
    font-family:'PatuaOne regular' ;
    font-size: 24px;

    display: flex;
    align-items: center;
    
    line-height: 3em;
   padding-left: 3em;

}

.checks-textos-massa{
    width: 20em;
    font-family:'PatuaOne regular' ;
    font-size: 24px;

    display: flex;
    align-items: center;

    padding-left: 3em;
}

.checks-textos-delivery{
    width: 25em;
    font-family:'PatuaOne regular' ;
    font-size: 24px;

    display: flex;
    align-items: center;
    padding-left: 3em;
}
.parte-5{
    background-image: url('../../../public/assets/images/rectangleBranco2.png');
    width: 100%;
    height: 292px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7em;
}


.parte-5-texts{
    display: flex;
    align-items: center;
}

.texts-5{
    flex-direction: column;
    text-align: center;

    line-height: 5em;
}

.parte-5-text1{
    font-family: 'PatuaOne regular';
    font-size: 80px;
}

.parte-5-text2{
    font-family: 'AlfaOne regular';
    font-size: 80px;
    color: #FF1F00;
}

.parte-6{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
    justify-content: center;

    padding-top: 10em;
    padding-bottom: 5em;
    font-family: 'PatuaOne regular';
    font-size: 13px;

}

.text-local{
    margin-bottom: 10px;
}

.botoes-carrossel{
    cursor: pointer;
}
