@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../../../public/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('../../../../public/assets/fonts/Roboto-Bold.ttf');
}

.corpo-menu{
    background-image: url('../../../../public/assets/images/Rectangle\ 12022.png') ;
   width: 235px;
   height: 100vh;
   
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
}

.texts{
    padding-left: 10px;
    font-family: 'Roboto-Regular';
    font-size: 15px;
    
}

.con-text{
    width: 12em;
}

.menu-itens {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.menu-itens > div {
    display: flex;
    align-items: center;
    
    padding: 15px 25px;

    transition: .3s;
    cursor: pointer;
}


.menu-itens > img {
    width: 40px;
    height: 20px;

}

.menu-itens > div:hover {
    background-color: #ffffffd0;
    
}

.sair {
    display: flex;
    align-items: center;
    padding-top: 7em;
    padding-left: 1em; 

    cursor: pointer;

   
}



.text-sair{
    font-family: 'Roboto-bold' ;
    padding-left: 6px;
    font-size: 15px;
   
    
}




